@model IEnumerable<ADT.Workflow.Web.Models.FUNCTION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FUNCTION_LABEL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FUNCTION_LABEL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FUNCTION_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FUNCTION_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FUNCTION_ID })
        </td>
    </tr>
}

</table>
