    <h4>Utilisateurs</h4>
    <p>Gestion des utilisateurs</p>
    <ul>
        <li>@Html.ActionLink("Ajouter un utilisateur", "AddUser")</li>
        <li>@Html.ActionLink("Consulter la liste", "ShowListUsers")</li>
    </ul>

    <p>Gestion des rôles</p>
    <ul>
        <li>@Html.ActionLink("Ajouter un rôle", "AddRole")</li>
        <li>@Html.ActionLink("Consulter la liste", "ShowListRole")</li>
    </ul>

    <p>Gestion des équipes</p>
    <ul>
        <li>@Html.ActionLink("Ajouter une équipe", "AddTeam")</li>
        <li>@Html.ActionLink("Consulter la liste", "ShowListTeam")</li>
    </ul>

    <p>Gestion des fonctions</p>
    <ul>
        <li>@Html.ActionLink("Ajouter une fonction", "AddFunction")</li>
        <li>@Html.ActionLink("Consulter la liste", "ShowListFunctions")</li>
    </ul>

    <h4>Articles</h4>
    <p>Gestion des statuts</p>
    <ul>
        <li>@Html.ActionLink("Ajouter un status", "AddStatus")</li>
        <li>@Html.ActionLink("Consulter la liste", "ShowListStatus")</li>
    </ul>

    <p>Gestion des thèmes</p>
    <ul>
        <li>@Html.ActionLink("Ajouter un theme", "AddTheme")</li>
        <li>@Html.ActionLink("Consulter la liste", "ShowListTheme")</li>
    </ul>