@{
    ViewBag.Title = "Gestion du workflow des articles";
}
<aside>
    <h2>Menu</h2>

    <p>Tableau de bord</p>
    <ul>
        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    </ul>
    <p>Gestion du compte</p>
    <ul>
        <li>@Html.ActionLink("Modifier mon compte", "EditUserProfile")</li>
    </ul>

    @{
        if (ViewBag.Role != null)
        {

            var role = (string)ViewBag.Role.ToString();
            
            switch (role)
            {
                case "admin":
                    @Html.Partial("menu/_adminMenuPartial");
                    break;
                case "author":
                    @Html.Partial("menu/_authorMenuPartial");
                    break;
                case "releaser":
                    @Html.Partial("menu/_releaserMenuPartial");
                    break;
                case "rewiever":
                    @Html.Partial("menu/_rewieverMenuPartial");
                    break;
                default:
                    @:Cas non géré !
                    break;
            }
        } else {
            @:Aucun role n'est défini !
        }
    }
</aside>
