@{
    ViewBag.Title = "Page d'accueil";
}

<aside>
    <h3>Menu</h3>
    <p>Tableau de bord</p>
    <ul>
        <li>@Html.ActionLink("Consulter", "ShowDashBoard")</li>
    </ul>
    <p>
        Gestion des articles
    </p>
    <ul>
        <li>@Html.ActionLink("Ajouter", "AddNewArticle")</li>
        <li>@Html.ActionLink("Consulter", "ShowCurrentUserArticles")</li>
        <li>@Html.ActionLink("Historique", "ShowHistoricUserArticles")</li>
    </ul>

    <p>Gestion du compte</p>
    <ul>
        <li>@Html.ActionLink("Modifier", "EditUserProfile")</li>
    </ul>
</aside>
