@model ADT.Workflow.Web.Models.IMG

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>IMG</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMG_ALT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMG_ALT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMG_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMG_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMG_CREDITS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMG_CREDITS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMG_LEGEND)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMG_LEGEND)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMG_SRC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMG_SRC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IMG_URL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IMG_URL)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
