@model ADT.Workflow.Web.Models.VIDEO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>VIDEO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIDEO_ALT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIDEO_ALT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIDEO_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIDEO_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIDEO_CREDITS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIDEO_CREDITS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIDEO_LEGEND)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIDEO_LEGEND)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIDEO_MARKUP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIDEO_MARKUP)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.VIDEO_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
