@model IEnumerable<ADT.Workflow.Web.Models.VIDEO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VIDEO_ALT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIDEO_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIDEO_CREDITS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIDEO_LEGEND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIDEO_MARKUP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VIDEO_ALT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIDEO_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIDEO_CREDITS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIDEO_LEGEND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIDEO_MARKUP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VIDEO_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VIDEO_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VIDEO_ID })
        </td>
    </tr>
}

</table>
